version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: food_backend
    ports:
      - "4000:4000"
    environment:
      MONGO_URL: mongodb://mongo:27017/foodapp
      JWT_SECRET: ${JWT_SECRET}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
    depends_on:
      - mongo
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: food_frontend
    ports:
      - "80:80"
    environment:
      VITE_SERVER_URL: http://backend:4000
    depends_on:
      - backend
    restart: always

  mongo:
    image: mongo:6
    container_name: food_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
